defmodule <%= Macro.camelize(@module_name) %>.MixProject do
  use Mix.Project

  def project do
    [
      app: :<%= @app_name %>,
      version: "0.1.0",
      elixir: "~> 1.18",
      start_permanent: Mix.env() == :prod,
      deps: deps(),
      elixirc_paths: ["lib"]
    ]
  end


  def application do
    [mod: {<%= Macro.camelize(@module_name) %>, []}, extra_applications: [:logger]]
  end


  defp deps do
    [
      {:francis, "~> 0.1"}
    ]
  end
end
